.profile-card {
  border: 1px solid var(--light-color);
  padding: 32px 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  column-gap: 40px;
}
.avatar-name {
  display: flex;
  align-items: center;
}
.profile-card__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  object-position: center;
}
.profile-card__name {
  strong {
    display: block;
    margin-bottom: 8px;
  }
}
.profile-card__description {
  line-height: 24px;
  word-break: balance;
}
.profile-card__skils {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.profile-card__skil {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  font-size: 12px;
  font-weight: 700;
  margin-right: 4px;
  margin-bottom: 5px;
  line-height: 24px;
}
.btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
