@if(profile){

<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/images/png/user-05.jpg" alt="avatar" class="profile-card__avatar">
    <div class="profile-card__name">
      <strong>{{profile.fname}}</strong>
      <div>{{profile.username}}</div>
    </div>
  </div>
  <p class="profile-card__description">
    {{profile.description}}
  </p>
  <div class="profile-card__skils">
    @for(skill of profile.stack; track skill){

    <span class="profile-card__skil">{{skill}}</span>
    }

  </div>
  <div class="porfile-card__action-btns">
    <button class="btn">Subscribe</button>
  </div>
</div>
}