@if (profile) {
<div class="profile-card">
  <div class="avatar-name">
    <img [src]="profile.avatarUrl | imgUrl" [alt]="profile.lastName" class="profile-card__avatar">
    <div class="profile-card__name">
      <strong>{{profile.firstName}} {{profile.lastName}}</strong>
      <div>{{profile.username}}</div>
    </div>
  </div>
  <p class="profile-card__description">
    {{profile.description}}
  </p>
  <div class="profile-card__skils">
    @for(skill of profile.stack; track skill){

    <span class="profile-card__skil">{{skill}}</span>
    }

  </div>
  <div class="porfile-card__action-btns">
    <button class="btn">Subscribe</button>
  </div>
</div>
}