<div>
  <img src="/assets/images/svg/sm-logo.svg" alt="">
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item"><a class="sidebar-menu-link" href="#!">
        <!-- <img src="/assets/images/svg/home.svg" alt=""> -->
        <svg [icon]="'home'"></svg>
        <span>my page</span></a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-link" href="#!">
        <img src="/assets/images/svg/chat.svg" alt="">
        <span>chat</span>
      </a>
    </li>
    <li class="sidebar-menu-item"><a class="sidebar-menu-link" href="#!"><img src="/assets/images/svg/search.svg"
          alt=""><span>search</span></a>
    </li>
  </ul>
  <div>Subscribers</div>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>