<div>
  <img src="/assets/images/svg/sm-logo.svg" alt="">
  <ul class="sidebar-menu">
    <li *ngFor="let menuItem of menuItems" class="sidebar-menu-item">
      <a class="sidebar-menu-link">
        <svg [icon]="menuItem.icon"></svg>
        <span>{{menuItem.label}}</span>
      </a>
    </li>
  </ul>
  <div class="mb-20">Subscribers</div>
  <!-- <app-subcriber-card></app-subcriber-card> -->
  <div class="to-subscribers">
    <a class="to-subscribers-link" [routerLink]="['/subscribers']">All subscribers</a>
    <svg [icon]="'arrow'"></svg>
  </div>
</div>