:host {
  display: block;
  padding: 20px;
}
.sidebar-menu {
  padding-top: 30px;
  list-style: none;
}
.sidebar-menu-item {
  margin-bottom: 24px;
}
.sidebar-menu-link {
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  svg {
    color: white;
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  span {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
  }
  &:hover,
  &:focus-visible {
    color: var(--primary-color);
    svg {
      color: var(--primary-color);
    }
  }
}
