<app-profile-header></app-profile-header>

<form class="profile-form__wrapper" [formGroup]="form">
  <div class="profile-form">
    <div class="two-columns">
      <label class="tt-form-label">
        <span class="tt-form-label__text">First name</span>
        <input type="text" class="tt-form-input" formControlName="firstName" />
      </label>

      <label class="tt-form-label">
        <span class="tt-form-label__text">Last name</span>
        <input type="text" class="tt-form-input" formControlName="lastName" />
      </label>
    </div>

    <label class="tt-form-label">
      <span class="tt-form-label__text">Telegram username</span>
      <input type="text" class="tt-form-input" formControlName="username" />
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label__text">About me</span>
      <textarea
        type="text"
        class="tt-form-input tt-textarea"
        formControlName="description"
        rows="4"
      ></textarea>
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label__text">Avatar</span>
      <app-avatar-upload></app-avatar-upload>
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label__text">Skills</span>
      <input type="text" class="tt-form-input" formControlName="stack" />
    </label>
  </div>
  <div>
    <div>
      <button class="btn" (click)="onSave()">save</button>
    </div>
  </div>
</form>
