:host {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  margin: 0 5%;
}

.login-form {
  margin-right: 10%;
}



.password-input {
  position: relative;
  width: 100%;
}

.password-eye-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ffffffbf;
  cursor: pointer;
  right: 12px;
}

.password-eye-btn.active {
  color: var(--primary-color);
}
