:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;
  .btn {
    font-size: 16px;
  }
}
.login {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}
.login-label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 20px;
  position: relative;
}
.login-label span {
  margin-bottom: 4px;
}
.login-label input {
  padding: 12px 20px;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  color: var(--light-color);
}
.big-logo {
  text-align: center;
}
input:focus {
  outline: none;
}
input:active {
  border-color: var(--primary-color);
}
.btn-eye {
  position: absolute;
  right: 12px;
  background-color: transparent;
  border: none;
  top: 50%;
  bottom: 50%;
  cursor: pointer;
}
