<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <div class="login">Login</div>
    <label class="login-label" for=""><span>Username</span>
      <input formControlName="username" type="text" placeholder="username"></label>
    <label class="login-label" for=""><span>Password</span>
      <input formControlName="password" autocomplete="current-password" type="password" placeholder="password"></label>
  </div>
  <button class="btn" type="submit">Enter</button>
</form>
<div class="big-logo">
  <img src="/assets/images/png/Content.png" alt="">
</div>