@import "fonts";
@import "margins";

:root {
    --dark-color: #000000;
    --light-color: #ffffff;
    --primary-color: #ae7aff;
    --gray-color: #5F646D;
    --dark-hover-color: #161616;
    --light-transparent-color: rgba(255, 255, 255, 0.75);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    background: var(--dark-color);
    background-image: url(/assets/imgs/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "JetBrains Mono", sans-serif;
    color: var(--light-color);
}

.skill-tag {
    display: inline;
    padding: 4px 8px;
    border: 1px solid var(--light-color);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}

.btn {
    width: 100%;
    padding: 10px 20px;
    background: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: var(--dark-color);
}

.btn-shadow {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: -4px;
        right: -4px;
        width: 100%;
        height: 100%;
        background: var(--gray-color);
        border-radius: 4px;
    }
}

h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
}

h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
}

.h6 {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

.subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.medium-text {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.regular {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.tt-control-label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.tt-input {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 12px 20px;
    font-size: 14px;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    line-height: 21px;
    color: var(--light-color);
    background: var(--dark-color);
    border: 1px solid var(--light-color);
    border-radius: 4px;
}

.tt-form-label {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.tt-form-label__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: var(--light-transparent-color);
}

.tt-form-input {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    border: none;
    background: none;
    color: var(--light-color);
    border-bottom: 1px solid var(--light-color);
    height: 33px;

    &:focus-visible {
        outline: 1px solid var(--primary-color);
    }
}

.tt-textarea {
    height: 84px;
    resize: none;
}